on init
    mkdir /metadata/logs 0775 system system
    start persistentLogging
    start persistentDmesg

on property:sys.boot_completed=1
    stop persistentLogging
    stop persistentDmesg

service persistentLogging /system/bin/logcat -f /metadata/logs/logcat.log
    user root
    group root system log
    disabled

service persistentDmesg "/system/bin/dmesg -w > /metadata/logs/dmesg.log"
    user root
    group root system log
    disabled
